<div class="register-background">
    <div class="container d-flex flex-column bg-white rounded border shadow position-absolute top-50 start-50 translate-middle p-5">
        <h1 mat-dialog-title class="text-uppercase text-center" appTitlesStyle>Crear cuenta</h1>
        <div *ngIf="this.error" class="alert alert-danger">
            <p class="text-center">{{this.error}}</p>
        </div>
        <div mat-dialog-content class="container mt-3">
            <form [formGroup]="registerForm" class="d-flex flex-column">
                <mat-form-field appearance="fill">
                    <mat-label>Usuario</mat-label>
                    <input type="text" formControlName="user" matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" placeholder="user@example.com" formControlName="email" matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-stroked-button color="primary" (click)="onSubmit()">Crear</button>
                <a routerLink="/login" class="text-center mt-3">¡Ya tengo cuenta!</a>
            </form>
        </div>
    </div>
</div>