<div class="d-flex flex-column">
    <app-toolbar [menu]="sidenav"></app-toolbar>
    <mat-sidenav-container>
        <mat-sidenav>
            <mat-nav-list>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>dropdown</mat-icon>
                                <p>Secciones</p>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="d-flex flex-column">
                            <a routerLink="/students" routerLinkActive="is-active" class="text-dark fs-6 p-2 text-decoration-none">
                                Estudiantes
                            </a>
                            <a routerLink="/categories" routerLinkActive="is-active" class="text-dark fs-6 p-2 text-decoration-none">
                                Categorias
                            </a>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <div *ngIf="!this.loggedIn">
                    <a mat-list-item>
                        <mat-icon>login </mat-icon>
                        <a routerLink="/login" class="text-dark fs-6 p-2 text-decoration-none">Ingresar</a>
                    </a>
                    <a mat-list-item>
                        <mat-icon>person</mat-icon>
                        <a routerLink="/register" class="text-dark fs-6 p-2 text-decoration-none">Registrarse</a>
                    </a>
                </div>
                <div *ngIf="this.loggedIn">
                    <a mat-list-item>
                        <mat-icon>logout </mat-icon>
                        <a (click)="this.logout()" class="text-dark fs-6 p-2 text-decoration-none">Cerrar sesión</a>
                    </a>
                </div>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div>
                <router-outlet></router-outlet>
                <app-footer></app-footer>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>