<nav class="navbar navbar-expand-lg bg-light py-4">
    <div class="container-fluid">
        <a class="navbar-brand ms-4" href="#">ProyectoFinal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active ms-4" aria-current="page" href="/">Inicio</a>
                </li>
            </ul>
            <form class="d-flex my-2 me-auto col-4" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar curso..." aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Buscar</button>
            </form>
            <div class="d-block d-lg-flex me-3">
                <a class="text-decoration-none text-body px-3" href="#">Ingresar</a>
                <a class="text-decoration-none text-body px-3" href="#">Creá tu cuenta</a>
            </div>
        </div>
    </div>
</nav>