<h1 mat-dialog-title class="text-uppercase text-center" appTitlesStyle>{{data?.titleDialog}}</h1>
<div mat-dialog-content class="container">
    <form [formGroup]="studentForm" class="d-flex flex-column">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input type="text" formControlName="firstName" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Apellido</mat-label>
            <input type="text" formControlName="lastName" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>usuario</mat-label>
            <input type="text" formControlName="user" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="text" formControlName="email" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>¿Está activo?</mat-label>
            <select formControlName="isActive" matNativeControl required>
                <option value="true">Si</option>
                <option value="">No</option>
            </select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button color="primary" mat-button [mat-dialog-close]="studentForm.value">Guardar</button>
    <button color="warn" mat-button (click)="close()">Cancelar</button>
</div>
