<h1 mat-dialog-title class="text-uppercase text-center" appTitlesStyle>{{data?.titleDialog}}</h1>
<div mat-dialog-content class="container">
    <form [formGroup]="studentForm" class="d-flex flex-column">
        <h2>Datos personales</h2>
        <tr>
            <td>
                <mat-form-field appearance="fill" class="pe-2">
                    <mat-label>Nombre/s</mat-label>
                    <input type="text" formControlName="firstName" matInput>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill" class="pe-2">
                    <mat-label>Apellido/s</mat-label>
                    <input type="text" formControlName="lastName" matInput>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Edad</mat-label>
                    <input type="text" formControlName="age" matInput>
                </mat-form-field>
            </td>
        </tr>
        <mat-radio-group aria-labelledby="gender-label" formControlName="gender" class="mb-3">
            <label id="gender-label">Genero: </label>
            <mat-radio-button value="M">M</mat-radio-button>
            <mat-radio-button value="F">F</mat-radio-button>
            <mat-radio-button value="X">X</mat-radio-button>
        </mat-radio-group>

        <h2>Dirección / Contacto</h2>
        <mat-form-field appearance="fill" class="pe-2">
            <mat-label>Direccion</mat-label>
            <input type="text" formControlName="address" matInput>
        </mat-form-field>
        <tr>
            <td>
                <mat-form-field appearance="fill" class="pe-2">
                    <mat-label>Ciudad</mat-label>
                    <input type="text" formControlName="city" matInput>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill" class="pe-2">
                    <mat-label>Provincia</mat-label>
                    <input type="text" formControlName="province" matInput>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill" class="pe-2">
                    <mat-label>País</mat-label>
                    <input type="text" formControlName="country" matInput>
                </mat-form-field>
            </td>
        </tr>
        <mat-form-field appearance="fill" class="pe-2">
            <mat-label>Teléfono</mat-label>
            <input type="text" formControlName="phone" matInput>
        </mat-form-field>

        <h2>Identificación</h2>
        <mat-form-field appearance="fill">
            <mat-label>usuario</mat-label>
            <input type="text" formControlName="user" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="text" formControlName="email" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input type="password" formControlName="password" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>¿Está activo?</mat-label>
            <select formControlName="isActive" matNativeControl required>
                <option value="true">Si</option>
                <option value="false">No</option>
            </select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button color="primary" mat-button [mat-dialog-close]="studentForm.value">Guardar</button>
    <button color="warn" mat-button (click)="close()">Cancelar</button>
</div>
