<div class="container">
    <h2 class="text-center text-uppercase mt-3 mb-0">Administración de usuarios</h2>
    <div class="d-flex justify-content-center" *ngIf="!students">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    
    <table mat-table [dataSource]="students" class="mat-elevation-z8 my-4">
        <ng-container matColumnDef="id">
            <th mat-header-cell class="text-center" *matHeaderCellDef> No. Estudiante </th>
            <td mat-cell class="text-center" *matCellDef="let student"> {{student.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="name">
            <th mat-header-cell class="text-center" *matHeaderCellDef> Nombre </th>
            <td mat-cell class="text-center" *matCellDef="let student"> {{student | fullName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="isActive">
            <th mat-header-cell class="text-center" *matHeaderCellDef> Estudiante activo </th>
            <td mat-cell class="text-center" *matCellDef="let student">
                <mat-icon class="text-success" placement="end" ngbTooltip="Conectado" *ngIf="student.isActive==true">
                    done
                </mat-icon>
                <mat-icon class="text-danger" placement="end" ngbTooltip="Desconectado" *ngIf="student.isActive==false">
                    close
                </mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="detail">
            <th mat-header-cell class="text-center" *matHeaderCellDef> Detalle </th>
            <td mat-cell class="text-center" *matCellDef="let student">
                <button mat-icon-button>
                    <mat-icon>
                        visibility
                    </mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell class="text-center" *matHeaderCellDef> Editar </th>
            <td mat-cell class="text-center" *matCellDef="let student">
                <button (click)="editStudent(student)" mat-icon-button>
                    <mat-icon>
                        edit
                    </mat-icon>
                </button>
            </td>
        </ng-container>
    
        <ng-container matColumnDef="delete">
            <th mat-header-cell class="text-center" *matHeaderCellDef> Eliminar </th>
            <td mat-cell class="text-center" *matCellDef="let student">
                <button (click)="removeStudent(student)" mat-icon-button>
                    <mat-icon color="warn">
                        delete
                    </mat-icon>
                </button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <button (click)="addStudent()" mat-raised-button color="primary" class="my-2 w-100 text-uppercase">
        <mat-icon>add</mat-icon>
        Agregar alumno
    </button>
</div>