<div class="">
    <div class="border border-0">
        <h2 class="text-center mt-3" id="headingOne">
            Cursos
        </h2>
        <div class="d-flex justify-content-center" *ngIf="!categories">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <mat-accordion>
            <mat-expansion-panel 
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
                *ngFor="let category of categories"
            >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ category.title }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="d-flex justify-content-between align-items-center py-1" *ngFor="let course of category.courses">
                    <p class="col-6">{{course}}</p>
                    <button (click)="editCourse(category, course)" mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button (click)="removeCourse(category, course)" mat-icon-button color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <button (click)="addCourse(category)" mat-raised-button color="primary" class="my-2 w-100 text-uppercase">
                    <mat-icon>add</mat-icon>
                    Agregar curso
                </button>
                <button (click)="editCategory(category)" mat-raised-button class="my-2 w-100 text-uppercase">
                    <mat-icon>edit</mat-icon>
                    Editar categoria
                </button>
                <button (click)="removeCategory(category)" mat-raised-button color="warn" class="w-100 text-uppercase">
                    <mat-icon>remove</mat-icon>
                    Eliminar categoria
                </button>
            </mat-expansion-panel>
        </mat-accordion>
        <button (click)="addCategory()" mat-raised-button color="primary" class="my-2 w-100 text-uppercase">
            <mat-icon>add</mat-icon>
            Nueva categoria
        </button>
    </div>
</div>