<section class="rounded shadow border border-primary bg-light p-2 my-5 w-50 mx-auto">
    <h1 class="py-4 fw-bold text-primary text-center text-uppercase">Registrate</h1>
    <form class="d-flex flex-column px-5" [formGroup]="formularioRegistro" (ngSubmit)="submit()">
        <!-- Input nombre -->
        <p *ngIf="formularioRegistro.get('firstName')?.invalid && formularioRegistro.get('firstName')?.touched" class="text-danger">* El campo es obligatorio</p>
        <div class="form-floating mb-3">
            <input type="text" placeholder="Ingresa tu nombre" formControlName="firstName" class="form-control" [ngClass]="(formularioRegistro.get('firstName')?.invalid && formularioRegistro.get('firstName')?.touched)? 'is-invalid' : ''">
            <label for="firstName">Nombre/s:</label>
        </div>
        <!-- Input Apellido -->
        <p *ngIf="formularioRegistro.get('lastName')?.invalid && formularioRegistro.get('lastName')?.touched" class="text-danger">* El campo es obligatorio</p>
        <div class="form-floating mb-3">
            <input type="text" placeholder="Ingresa tu apellido" formControlName="lastName" class="form-control" [ngClass]="(formularioRegistro.get('lastName')?.invalid && formularioRegistro.get('lastName')?.touched)? 'is-invalid' : ''">
            <label for="lastName">Apellido/s: </label>
        </div>
        <!-- Input Documento -->
        <p *ngIf="formularioRegistro.get('idNumber')?.invalid && formularioRegistro.get('idNumber')?.touched" class="text-danger">* El campo es obligatorio</p>
        <div class="form-floating mb-3">
            <input type="text" placeholder="Ingresa tu documento" formControlName="idNumber" class="form-control" [ngClass]="(formularioRegistro.get('idNumber')?.invalid && formularioRegistro.get('idNumber')?.touched)? 'is-invalid' : ''">
            <label for="idNumber">Número de documento: </label>
        </div>
        <!-- Input Usuario -->
        <p *ngIf="formularioRegistro.get('user')?.invalid && formularioRegistro.get('user')?.touched" class="text-danger">* El campo es obligatorio</p>
        <div class="form-floating mb-3">
            <input type="text" placeholder="Ingresa tu usuario" formControlName="user" class="form-control" [ngClass]="(formularioRegistro.get('user')?.invalid && formularioRegistro.get('user')?.touched)? 'is-invalid' : ''">
            <label for="user">Usuario: </label>
        </div>
        <!-- Input mail -->
        <p *ngIf="(this.errorMail && this.errorMail['required']) && formularioRegistro.get('mail')?.touched" class="text-danger">* El campo es obligatorio</p>
        <p *ngIf="(this.errorMail && this.errorMail['email']) && formularioRegistro.get('mail')?.touched" class="text-danger">* Se debe ingresar un email válido</p>
        <div class="form-floating mb-3">
            <input type="email" placeholder="Ingresa tu email" formControlName="mail" class="form-control" [ngClass]="(formularioRegistro.get('mail')?.invalid && formularioRegistro.get('mail')?.touched)? 'is-invalid' : ''">
            <label for="mail">Email: </label>
        </div>
        <!-- Input contraseña -->
        <p *ngIf="(this.errorPassword1 && this.errorPassword1['required']) && formularioRegistro.get('password1')?.touched" class="text-danger">* El campo es obligatorio</p>
        <p *ngIf="(this.errorPassword1 && this.errorPassword1['minlength']) && formularioRegistro.get('password1')?.touched" class="text-danger">* La contraseña debe contener al menos 8 carácteres</p>
        <div class="form-floating mb-3">
            <input type="password" placeholder="Ingresa tu contraseña" formControlName="password1" class="form-control" [ngClass]="(formularioRegistro.get('password1')?.invalid && formularioRegistro.get('password1')?.touched)? 'is-invalid' : ''">
            <label for="password1">Contraseña:</label>
        </div>
        <!-- Input repetir contraseña -->
        <p *ngIf="(this.errorPassword2 && this.errorPassword2['required']) && formularioRegistro.get('password2')?.touched" class="text-danger">* El campo es obligatorio</p>
        <p *ngIf="(this.errorPassword2 && this.errorPassword2['minlength']) && formularioRegistro.get('password2')?.touched" class="text-danger">* La contraseña debe contener al menos 8 carácteres</p>
        <p *ngIf="(this.errorPassword2 && this.errorPassword2['equals']) && formularioRegistro.get('password2')?.touched" class="text-danger">* Las contraseñas deben coincidir</p>
        <div class="form-floating mb-3">
            <input type="password" placeholder="Repetí tu contraseña" formControlName="password2" class="form-control" [ngClass]="(formularioRegistro.get('password2')?.invalid && formularioRegistro.get('password2')?.touched)? 'is-invalid' : ''">
            <label for="password2">Repeti tu contraseña</label>
        </div>
        <button type="submit" class="btn btn-outline-primary m-3 mt-2 p-2 rounded shadow">Enviar</button>
    </form>
</section>