<div class="container d-flex flex-column justify-content-center mt-3" *ngIf="!this.error">
    <div class="d-flex flex-column bg-white rounded border shadow p-5">
        <h1 mat-dialog-title class="text-uppercase text-center mb-5" appTitlesStyle>Perfil del usuario</h1>

        <div class="d-flex justify-content-center" *ngIf="!this.student">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div mat-dialog-content class="container" *ngIf="this.student">
            <div class="d-flex flex-row justify-content-around">
                <img src="https://avatars.githubusercontent.com/u/14139756?v=4" alt="" style="height: 150px;width: 150px;"/>
                <div class="">
                    <div class="d-flex flex-row justify-content-around">
                        <mat-form-field appearance="fill" style="width: 20vw;" class="me-2">
                            <mat-label>Nombre/s</mat-label>
                            <input matInput disabled [value]="this.student.firstName">
                        </mat-form-field>
                        <mat-form-field appearance="fill" style="width: 20vw;" class="ms-2">
                            <mat-label>Apellido/s</mat-label>
                            <input matInput disabled [value]="this.student.lastName">
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-row mx-auto">
                        <mat-form-field appearance="fill" style="width: 20vw;" class="mx-2">
                            <mat-label>Calle</mat-label>
                            <input matInput disabled [value]="this.student.address">
                        </mat-form-field>
                        <mat-form-field appearance="fill" style="width: 10vw;" class="mx-2">
                            <mat-label>Ciudad</mat-label>
                            <input matInput disabled [value]="this.student.city">
                        </mat-form-field>
                        <mat-form-field appearance="fill" style="width: 10vw;" class="mx-2">
                            <mat-label>Provincia</mat-label>
                            <input matInput disabled [value]="this.student.province">
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-row justify-content-around">
                        <mat-form-field appearance="fill" style="width: 42vw;" class="mx-2">
                            <mat-label>Email</mat-label>
                            <input matInput disabled [value]="this.student.email">
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-row justify-content-around">
                        <mat-form-field appearance="fill" style="width: 42vw;" class="mx-2">
                            <mat-label>Telefono</mat-label>
                            <input matInput disabled [value]="this.student.phone">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column bg-white rounded border shadow p-5 mt-3">
        <h1 mat-dialog-title class="text-uppercase text-center mb-5" appTitlesStyle>Inscripto en:</h1>

        <div class="d-flex justify-content-center" *ngIf="!this.student">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <table mat-table [dataSource]="this.student.courses" class="mat-elevation-z8 my-4" *ngIf="this.student">
            <ng-container matColumnDef="id">
                <th mat-header-cell class="text-center" *matHeaderCellDef> Comisión </th>
                <td mat-cell class="text-center" *matCellDef="let course"> {{course.id}} </td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell class="text-center" *matHeaderCellDef> Nombre curso </th>
                <td mat-cell class="text-center" *matCellDef="let course"> {{course.title}} </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell class="text-center" *matHeaderCellDef> Estado del curso </th>
                <td mat-cell class="text-center" *matCellDef="let course"> {{course.state}} </td>
            </ng-container>

            <ng-container matColumnDef="days">
                <th mat-header-cell class="text-center" *matHeaderCellDef> Días y horarios </th>
                <td mat-cell class="text-center" *matCellDef="let course"> {{course.days}} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell class="text-center" *matHeaderCellDef> Editar </th>
                <td mat-cell class="text-center" *matCellDef="let course">
                    <button (click)="editClass(course)" mat-icon-button>
                        <mat-icon>
                            edit
                        </mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell class="text-center" *matHeaderCellDef> Eliminar </th>
                <td mat-cell class="text-center" *matCellDef="let course">
                    <button (click)="removeClass(course)" mat-icon-button>
                        <mat-icon color="warn">
                            delete
                        </mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
    <button (click)="addClass()" mat-raised-button color="primary" class="my-2 w-100 text-uppercase">
        <mat-icon>add</mat-icon>
        Agregar Comisión
    </button>
    <a routerLink="/students" mat-raised-button color="warn" class="my-4 w-100 mx-auto">Volver</a>
</div>
<div *ngIf="this.error" class="alert alert-danger m-2">
    <h1 class="text-center">Se ha producido un error</h1>
    <p class="text-center">No se ha encontrado el estudiante solicitado</p>
    <div class="d-flex justify-content-center">
        <a routerLink="/students" mat-raised-button color="warn" class="my-4 w-50">Volver</a>
    </div>
</div>