<div class="px-2">
    <h2 class="mt-3 mb-4">Mis cursos</h2>
    <div class="d-md-flex justify-content-around my-3 mx-3">
        <div class="card mx-3" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title">Javascript</h5>
                <div class="d-flex">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-auto me-2">
                        <path d="M13 2.5H3C2.72386 2.5 2.5 2.72386 2.5 3V13C2.5 13.2761 2.72386 13.5 3 13.5H13C13.2761 13.5 13.5 13.2761 13.5 13V3C13.5 2.72386 13.2761 2.5 13 2.5Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M11 1.5V3.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M5 1.5V3.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M2.5 5.5H13.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <p class="card-text">Martes y jueves</p>
                </div>
                <div class="d-flex">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-auto me-2">
                        <path d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M8 4.5V8H11.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <p class="card-text">10:00 a 12:00hs</p>
                </div>
                <div class="text-center mt-3">
                    <a href="#" class="btn btn-primary">Ir al curso</a>
                </div>
            </div>
        </div>
        <div class="card mx-3" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title">Angular</h5>
                <div class="d-flex">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-auto me-2">
                        <path d="M13 2.5H3C2.72386 2.5 2.5 2.72386 2.5 3V13C2.5 13.2761 2.72386 13.5 3 13.5H13C13.2761 13.5 13.5 13.2761 13.5 13V3C13.5 2.72386 13.2761 2.5 13 2.5Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M11 1.5V3.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M5 1.5V3.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M2.5 5.5H13.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <p class="card-text">Martes y jueves</p>
                </div>
                <div class="d-flex">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-auto me-2">
                        <path d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M8 4.5V8H11.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <p class="card-text">19:00 a 21:00hs</p>
                </div>
                <div class="text-center mt-3">
                    <a href="#" class="btn btn-primary">Ir al curso</a>
                </div>
            </div>
        </div>
        <div class="card mx-3" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title">Python</h5>
                <div class="d-flex">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-auto me-2">
                        <path d="M13 2.5H3C2.72386 2.5 2.5 2.72386 2.5 3V13C2.5 13.2761 2.72386 13.5 3 13.5H13C13.2761 13.5 13.5 13.2761 13.5 13V3C13.5 2.72386 13.2761 2.5 13 2.5Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M11 1.5V3.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M5 1.5V3.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M2.5 5.5H13.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <p class="card-text">Lunes y Miércoles</p>
                </div>
                <div class="d-flex">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-auto me-2">
                        <path d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M8 4.5V8H11.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <p class="card-text">19:00 a 21:00hs</p>
                </div>
                <div class="text-center mt-3">
                    <a href="#" class="btn btn-primary">Ir al curso</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="px-2 mt-3">
    <h2>Novedades</h2>
    <div class="card mx-5 mt-4 mb-5">
        <div class="card-body">
            <h3 class="card-title">Cómo escribir BUENOS TÍTULOS en Marketing | Tecnicas de COPYWRITING para las REDES SOCIALES</h3>
            <p class="card-text">Aprendé a escribir buenos títulos que sean persuasivos para poder vender más y captar más usuarios. Si viste nuestro video anterior sobre Copywriting para las Redes Sociales, este te va a envantar.</p>
            <p class="card-text">Con un buen contenido y un buen copy, no es suficiente 😩. Es necesario escribir buenos títulos que generen expectativas en tu usuario. Hoy Lucas Othar nos comparte 5 técnicas para que la puedas romper con tus títulos!</p>
            <div class="d-none d-xl-block text-center my-5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/CXECi6wTmc0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="d-xl-none text-center my-5">
                <a href="https://www.youtube.com/embed/CXECi6wTmc0" target="_blank">Link al video</a>
            </div>
        </div>
    </div>
    <div class="card mx-5 mt-4 mb-5">
        <div class="card-body">
            <h3 class="card-title">Cómo Definir el Branding de tu Marca | Parte 2</h3>
            <p class="card-text">Aprende a definir el branding de tu marca para crear un negocio que sea memorable en el tiempo.</p>
            <p class="card-text">En la parte 2 de la serie, Barby nos explica cuáles son los pilares fundamentales para poder desarrollar una buena estrategia de #Branding que nos permita ganar la confianza de nuestros seguidores.</p>
            <p class="card-text">Si te perdiste la parte 1 en donde aprendimos como desarrollar nuestra misión, visión, y valores, podés verla <a href="https://www.youtube.com/watch?v=ZxDm8apU1J0&t=0s">acá</a></p>
            <div class="d-none d-xl-block text-center my-5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/6aogT-UxsVU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="d-xl-none text-center my-5">
                <a href="https://www.youtube.com/embed/6aogT-UxsVU" target="_blank">Link al video</a>
            </div>
        </div>
    </div>
</div>